<mat-card class="formCard">
    <mat-card-header>
        <h1>
            Create User
        </h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" class="form">
            @for (field of fields; track $index) {
            <mat-form-field class="formField">
                <mat-label>{{humanizeLabel(field)}}</mat-label>
                <input matInput formControlName="{{field}}">
            </mat-form-field>
            }
        </form>
    </mat-card-content>
    <mat-card-footer>
        <button mat-raised-button (click)="saveUser()">Guardar</button>
        <button mat-button (click)="cancel()">Cancelar</button>
    </mat-card-footer>
</mat-card>