.formCard {
    height: 100%;
}

mat-card-header {
    color:whitesmoke
}

mat-card-footer {
    padding: 0px 16px 16px 16px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.formField {
    width: 100%;
    margin-bottom: 10px;
}