@switch (buttonDefinition.kind) {
	@case ("raised") {
		<button
			class="ig-raised-button"
			mat-raised-button
			[disabled]="disabled"
			(click)="executed.emit(action)"
		>
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
			@if (label) {
				<span>{{ label }}</span>
			}
		</button>
	}
	@case ("fab") {
		<button
			class="ig-fab-button"
			mat-fab
			[disabled]="disabled"
			(click)="executed.emit(action)"
		>
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
			@if (label) {
				<span>{{ label }}</span>
			}
		</button>
	}
	@default {
		<button
			class="ig-basic-button"
			mat-button
			[disabled]="disabled"
			(click)="executed.emit(action)"
		>
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
			@if (label) {
				<span>{{ label }}</span>
			}
		</button>
	}
}
