$toolbar-height: 10%;
$main-content-height: calc(100% - $toolbar-height);

ig-toolbar {
    display: block;
    height: $toolbar-height;
}

ig-navbar {
    display: block;
    height: $main-content-height;
}

.login-page {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}