$sidenav-width: 10%;
$sidenav-content-width: calc(100% - $sidenav-width);

mat-sidenav-container {
    height: 100%;
}

mat-sidenav{
    width: $sidenav-width;
}

.sidenav-list {
    height: 95%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 5%;
}