@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $theme-type: mat.get-theme-type($theme);

    .sidenav {
        background-color: mat.get-theme-color($theme, primary, 500);
        color: white;
        @if $theme-type == dark {
            border-right: 2px solid white
        }

        @if $theme-type == light {
            border-right: 2px solid #4CCD99
        }
    }
}

@mixin theme($theme) {
    @if mat.theme-has($theme, color) {
      @include color($theme);
    }
}