@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $theme-type: mat.get-theme-type($theme);
    

    .form-header {
        background-color: mat.get-theme-color($theme, primary, 500);
        color: white;
        @if $theme-type == dark {
            border-bottom: 2px solid white
        }

        @if $theme-type == light {
            border-bottom: 2px solid #4CCD99
        }
    }

    .save-button {
        background-color: mat.get-theme-color($theme, primary, 500);
        color: white;
    }
    .reset-button {
        background-color: mat.get-theme-color($theme, accent, 500);
        color: white;
    }
    .cancel-button {
        background-color: mat.get-theme-color($theme, warn, 500);
        color: white;
    }
}

@mixin theme($theme) {
    @if mat.theme-has($theme, color) {
      @include color($theme);
    }
}